body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  border-radius: 6px;
}

#features {
  top: 10px;
  right: 10px;
  width: 300px;
  height: 200px;
  overflow: auto;
}

#legend {
  position: absolute;
  bottom: 80px;
  right: 10px;
  width: 170px;
  height: 130px;
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
}

.legend-key {
  display: inline-block; /* æˆ– inline-block */
  border-radius: 20%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-bottom: 4px;
}
.mapboxgl-ctrl-geocoder {
  width: 280px !important;
}